.nav {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.nav li {
    display: inline-block;
}

.nav a:hover {
    color: #dd9587;
    text-decoration: none;
}

.nav a:link {
    text-decoration: none;
}

.nav a:visited {
    text-decoration: none;
}

.catList a:hover {
    color: #dd9587;
    text-decoration: none;
}

.catList a:link {
    color: aqua;
    text-decoration: none;
}

h2 {
    color: #6b856d;
}

h1 {
    color: #6b856d
}

p {
    color: #0b2345
}

body {
    background-color: #f4e0a2;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    margin-left: 150px;
    margin-right: 150px;
}

h4 {
    color: #0b2345
}

h3 {
    color: #0b2345;
    /* font-family: 'Nanum Gothic', sans-serif;
    font-size: small; */
}

input[type=text] {
    padding: 4px 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px;
    outline: none;
    font-family: 'Nanum Pen Script', cursive;
    /* border-radius: 4px; */
}

input[type=text]:focus {
    border: 3px solid #dd9587;
  }

input[type=submit] {
    font-family: 'Nanum Pen Script', cursive;
}